body{
    background-color: #fffbf7;
    align-items: center;
}
.fixed-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
    z-index: 1030;
}
.header{
    margin:40px 20px 20px;
    font-size:0 ;
    font-family: sans-serif;
    height: 45px;
}
.logo{
    width: 15%;
}
.logo>img{
    width: 20%;
}
.main{
    margin-top: 258px;
    text-align: center;
}
.navBar{
    width: 70%;
    text-align: left;
    color: #025157;
    font-weight: 500;
    color:sans-serif;
    
}
.itemsMenu>*{
    display: inline;
    margin-left: 25px;
    margin-right: 25px;
}
.actions{
    width: 15%;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
}
.actions>*{
    margin-left: 10px;
    margin-right: 10px;
}
.actions>a{
    color: #67b54b;
}
.actions > button{
    color: #fff;
    background-color: #67b54b;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 14px;
    padding-left: 14px;
    border: 0;
    border-radius: 5px;
}
li{
    display: inline;
}
/* todos los hijos de header (>*)*/
.header >*{
    font-size: 16px;
    display: inline-block;
    line-height: 45px;
    height: 100%; 
    vertical-align: middle;
}

h1{
    color: #025157;
    font-family: 'PT Sans Caption', sans-serif;
    text-align: center;
    font-size: 60px;
}
.texto{
    color: #46484c;
    font-size: 20px;
}
button{
    color: #fff;
    background-color: #025157 ;
}

.form-entry{
}
#promocion{
    color: #8b8b8bcc;
    font-family: verdana;
    font-size: 20px;
}

.contenedor-flex{
    display: flex;
    width: 70%;
    margin:100px auto;
    align-items: center;
}
.videoContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.videoContainer img{
  width: 120px;
  margin-top: 10px;
}
.contenedor-flex h3{
    font-family: 'PT Sans Caption', sans-serif;
    color: #025157;
    font-size: 40px;
    margin-top: 0;
}
.contenedor-flex  p{
    color: #343434;
    font-size: 20px;
    line-height: 1.4;
}
.artPubli{
    display:flex ;
    flex-direction: column;
    margin-left: 40px;
    align-self: stretch;
}
.greend-part{
    display: flex;
    background-color: #a1d683;
    align-items: center;
}
.containerTestim{
    display: flex;
    width: 70%;
    align-items: center;
    margin: 100px auto;
}
.testimonios{
    display: flex;
    flex-direction: column;
    width: 60%;
}
.testimonios button{
    width: 150px;
}
.card{
    background-color:#fff ;
    border-radius: 10px;
    position:sticky;
    margin-left: 10%;
    display: flex;
    width: 300px;
    flex-direction: column;
    align-self: center;
}
.card img{
    display: flex;
    width: 100%;
    height: 300px;
    align-self: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.circle{
    height: 100px;
    width: 100px;
    background-color: #f9da73;
    border-radius: 50%;
    display: flex;
    align-self: center;
    justify-content: center;
    position: absolute;
    top: 230px;
    right: 25px;
}
.circle img{
    width: 95%;
    height: auto;
  }
.descriptionFooter{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 20px;
}
.descriptionFooter img{
    width: 30px;
    height: auto;
    margin-left: 20px;
    margin-right: 10px;
}
.descriptionFooter>p{
    color:gray;
}
.testimonios h3{
    font-family: 'PT Sans Caption', sans-serif;
    color: #025157;
    font-size: 40px;
    line-height: 48px;
}
.testimonios>p{
    color: #343434;
    font-size: 30px;
    line-height: 1.5;
}
.titleCard{
    color: #46484c;
    font-size: 18px;
    margin-left: 20px;
}
.contentCard{
    color: #46484c;
    font-size: 20px;
    margin-left: 20px;
    font-family: 'Raleway', sans-serif;
    text-align: left;
}

.features {
    display: grid;
    align-items: center;
    background-color: #025157;
    padding: 5% 10%;
    grid-template:repeat(2, 1fr) / repeat(2, 1fr);
}
.features .tarjetas{
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #fff;
    display: flex;
    border-radius: 5px;  
    overflow: hidden;  
    height: 300px;
    border: 1px solid #dadada;
}
.tarjetas:hover {
    transform: scale(1.01);
  }
.content-left{
    padding: 30px 20px 40px 40px;
    width: 70%;

}
.content-left img{
    width: 50px;
        
}
.content-right{
    width: 30%;
    display: block;
}
.content-right img{
    height:90%;
    width: 90%;
    padding: 20px;
}

.content-left h3{
    font-size: 24px;
    color: #343434;
    font-weight: 400;
}
.content-left p{
    font-size: 16px;
    color: #7e7e7e;
    font-weight: 400;
    
}
.content-left a{
    font-size: 16px;
    color: #67b54b;
    font-weight: 600;
    text-decoration: none;
}

.titulo-works{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}
.titulo-works >p{
    color: #343434;
    font-size: 25px;
    line-height: 1.5;
    font-family: 'PT Sans Caption', sans-serif;
}
.options-Cards{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 5% 10%;
    height: 600px;
    background-color: #fffbf7;;
}
.card-Option{
    background-color: #fff;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 5px;
    border: 1px solid #dadada;
}
.card-Option:hover {
    transform: scale(1.01);
  }
.topCard{
    display: block;
    height: 60%;
}
.topCard >img{
    position: absolute;
    width: 30px;
    margin-top: 25px;
    margin-left: 30px;
    filter: opacity(0.5);
}
.topCard figure{
    height: 90%;
}
.topCard figure img{
    width: 100%;
    height: 100%;
    padding-left: 15px;
}
.buttonCard{
    display: flex;
    flex-direction: column;
    height: 40%;
}
.buttonCard h2{
    color: #025157;
    font-family: 'PT Sans Caption', sans-serif;
    text-align: center;
    font-size: 30px;
}
.buttonCard >p{
    font-size: 16px;
    color: #7e7e7e;
    font-weight: 400;
    margin-left: 30px;
    margin-right: 20px;
}
.buttonCard >a{
    font-size: 16px;
    color: #67b54b;
    font-weight: 600;
    text-decoration: none;
    margin-left: 30px;
}
/** dispositivos móviles en vista viewport (vertical) */
@media (max-width: 575px){
    .navBar,
    .actions {
      display: none;
    }
    h1{
        font-size: 30px;
    }
    .main{
        margin-top: 100px;
    }

    .banner img{
        width: 100%;
    }
    .artPubli>form>input{
        margin-bottom: 10px;
    }
    .contenedor-flex{
        flex-direction: column;
        max-width: 90%;
    }
    .contenedor-flex h3{
        font-size: 25px;
        line-height: 1.2;
        margin-bottom: 10px;
        margin-top: 30px;
    }
    .features{
        grid-template: repeat(4, 1fr) / 1fr;
        padding-left: 0;
        padding-right: 0;
    }
    .features .content-left{
        width: 100%;
    }
    .content-right{
        display: none;
    }
    .containerTestim{
        margin-top: 0;
        flex-direction: column;
        width: 100%;
    }
    .testimonios button{
        width: 150px;
        margin: auto;
        margin-bottom: 20px;
    }.testimonios >img{
        width: 100%;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .videoContainer{
        width: 70%;
    }
    .options-Cards{
        grid-template: repeat(4, 1fr) / 1fr;
        padding-left: 0;
        padding-right: 0;
    }
    .card{
        margin: auto;
    }
    .titulo-works >p{
        margin-left: 20px;
    }
    
  }/*fin */

 
  /** dispositivos pequeños en vista landscape (horizontal) */
  /**@media (min-width: 576px) and (max-width: 767px) {
    
  }**/

  
/** dispositivos medianos (tablets) */
@media (min-width: 768px) and (max-width: 991px) {
    
  }
  
  /** dispositivos grandes (desktops) */
  @media (min-width: 992px) and (max-width: 1199px) {
    
  }
  
  /** dispositivos extra grandes (monitores grandes, tvs) */
  @media (min-width: 1200px) {
 
  }